<a href="https://colab.research.google.com/github/Rama27SepIBM/Data-Science-For-Beginners/blob/main/Day_4_Beginner_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Hello World ! - 2


Problem Description
Print the text

Hello
World !

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output

    return 0

if __name__ == '__main__':
    main()

Q2. Getting Started - 1

Problem Description
Print the following text in the output:

Hello

World !
Note: There is a empty line you need print between Hello and World !

In [ ]:
print("Hello")
print("")
print("World !")

Q3. Hello World ! - 4
Problem Description
Print the following text:

Hello 40
50 World !

In [ ]:
print("Hello 40")
print("50 World !")

Q4. Hello World !

Print "Hello World !" in the output.

Output Format
Print in a single line "Hello World !"

In [ ]:
print("Hello World !")

Q1. Odd numbers

Problem Description
Print first 5 odd numbers i.e. 1, 3, 5, 7, 9.

Output Format
Print first five odd numbers separated by space.

In [ ]:
print(1,3,5,7,9)

Q2. Simple Maths

Problem Description
Perform the following operations on 6 and 3 and print their respective outputs in different lines.
1. Addition
2. Subtraction
3. Multiplication
4. Division

In [ ]:
print(6+3)
print(6-3)
print(6*3)
print(6//3)

Q3. Even Numbers

Print first 5 even numbers i.e. 0, 2, 4, 6, 8.

Output Format
Print first five even numbers separated by space.

In [ ]:
print(0,2,4,6,8)