<a href="https://colab.research.google.com/github/Rama27SepIBM/21DaysOfLeetcode/blob/main/Day_11_Beginner_Iteration_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. find x in loop

What will be the value of x at the end of each iteration in the given program if executed?

x = 2
for i in range(0, 4):
    if x%2:
       x = x*2
    else:
       x = x+1

In [ ]:
# 3 -> 4 -> 7 -> 14
# 11 -> 12 -> 13 -> 14
# 4 -> 3 -> 6 -> 7 -> 14
# 3 -> 6 -> 7 -> 14

Q2. frequency of even

Which of the following codes can be used to find the frequency of even numbers in the range 0-10 inclusive?

A.
print((10//2)+1)

B.
c=0
for i in range(0, 10):
    if i%2:
        c=c+1
print(c)

C.
c=0
for i in range(0, 10):
    if i%2==0:
        c=c+1
print(c)

D.
c=0
for i in range(0, 11):
    if i%2==0:
        c=c+1
print(c)

In [ ]:
# BC  ABC. AD. ABD

Q3. get iteration number

What would be the output of the following code ?

x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

In [ ]:
# Infinite loop.    0   01.     0 2

Q4. for loop output

What will be the output of the following code:

for i in range(-6, -10, -1):
     print(i, end =" ")

In [ ]:
# -6 -7 -8 -9
# -7 -8 -9 -10
# -6 -7 -8 -9 -10
# Infinite loop

Q5. From top to down
Write a program to print all Natural numbers from 1 to N where you have to take N as input from user

Problem Constraints

1 <= N <= 1000000

Input Format

A single line representing N

Output Format

N space separated integers from 1 to N.

In [ ]:
N = int(input())

for i in range (1,N+1,1):
    print(i,end=" ")

Q6. Summation Game

Write a program to find sum all Natural numbers from 1 to N where you have to take N as input from user

Problem Constraints

1 <= N <= 1000

Input Format

A single line representing N

In [ ]:
N = int(input())
sum = 0
for i in range (1,N+1,1):
    sum += i
print(sum)

Q7. From down to top

Write a program to print all Natural numbers from N to 1 where you have to take N as input from user

Problem Constraints
1 <= N <= 10000000
Input Format
A single line representing N

In [ ]:
N = int(input())

for i in range (N,0,-1):
    print(i, end=" ")

Q1. divisor and remainder

Fill in the missing piece of code to get the value of ‘a’ as 5. (choose the block names)
a = 0
while True:
    ___________
    if a == 5:
        break

A.
a = a+1
a %= 5
a += 1

B.
a = a + 2
a %= 5
a += 1

C.
a = a + 1
a %= 5
a += 2

D.
a = a + 5
a %= 5
a += 5

In [ ]:
# A B C D

Q2. print i:j

What will be the output of the following?
i = 0
j = 0
while i <= 2:
   if j%2:
       j += 1
   print(i, ":", j, end=" ")
   i+=1
   j+=1

In [ ]:
# 0:0 1:1 2:2.   0:0 1:2 2:4.     0:1 1:2 2:3.   0:1 1:2 2:2

Q3. pass statement

What can be the output of the following code ?

i=0
if i==0:
   pass
   print(i, end=" ")
i+=1
print(i, end=" ")

In [ ]:
# 01.   Error.   0.  1

Q4. Threes or not

What will be the output of the following Python code?

for a in range(10):
   if (a % 3 == 0):
      continue
   print(a, 'end')

In [ ]:
# 1 2 4 5 7 8
# 1 2 4 5 7 8 10
# 3 6 9
# 1 2 4 5 7 8 9

Q5. even between 0 to 5

What would be the output of the following ?

i=0
while i<=5:
     if i%2:
        pass
     else:
        print(i, end=" ")
     i+=1

In [ ]:
# 1 2 3
# 0 2 4
# 1 3 5
# 2 4 3

Q6. Division by subtraction

We want to find the Quotient(q), and Remainder(r) of the division of 2 numbers, i.e. x is divided by y.

Which of the following code blocks can be used for this? Assume that the code before blocks is common for all the blocks.

x = int(input())
y = int(input())

q = 0
r = 0

# Block A
while x > y:
    x -= y
    q += 1
print(q, r)
# Block B
while x >= y:
    x -= y
    q += 1
print(q, y)

# Block C
while x >= y:
    x -= y
    q += 1
print(q, x)

In [ ]:
# Block A. Block B. Block C. None of the blocks

Q7. Sum of Odds - Easy

Take an integer A as input. You have to print the sum of all odd numbers in the range [1, A].

Problem Constraints
1 <= A <= 1000
Input Format
First and only line contains a single positive integer A.

In [ ]:
A=int(input())
sum=0
for i in range(1,A+1,2):
    sum=sum+i
print(sum)

Q8. Print N stars

Problem Description
Given an integer N, print N stars in a single line.

For example if N = 5 then pattern will be like:

*****
Problem Constraints
2 <= N <= 100

Input Format
Single line input contains a single integer N.
Output Format
Output N stars in a single line.

In [ ]:
N=int(input())

for i in range(1,N+1):
    print("*",end="")